<a href="https://colab.research.google.com/github/sumathiselvan79/CE7454_2019/blob/master/day1session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Program to find the factorial of a number using loop.

In [ ]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

#Python Program to reverse a number using loop

In [ ]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 123
The reversed no  is:
321

#Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#Python Program to replace all occurrences of ‘a’ with ‘$’ in a string.

In [ ]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:sumathisumAthi
Modified string:
sum$thisum$thi

#Python Program to remove the nth index character from a non-empty string.

In [ ]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:hello
Enter the index of the character to remove:1
Modified string:
hllo

#Python Program to detect if two strings are anagrams.

In [ ]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:hello
Enter second string:hello
The strings are anagrams.

#Python Program to form a string where the first character and the last character have been exchanged.

In [ ]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:hello
Modified string:
oellh

#Python Program to  count number of vowels from a non-empty string.

In [ ]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:hello
Number of vowels are:
2

#Program for Divide by zero error detection

In [ ]:
flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator6
Enter denominator0
Zero Division Error detected
Try again
Enter numerator6
Enter denominator6
Finally the division of 6/6 is 1.000000
Division is successful
Thank you

#Program for ValueError error detection

In [ ]:
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: as56
Oops!  That was no valid number.  Try again...
Please enter a number: 456
 That was valid number. Thank you

# 1 Write a program to print the triangle

In [ ]:
def numpat(n): 
      
    # initialising starting number  
    #num = 1
    num1=1
  
    # outer loop to handle number of rows 
    for i in range(0, n): 
      
        # re assigning num 
        num=num1
       
        for j in range(0, i+1): 
          
                # printing number 
            print(num, end=" ") 
          
            # incrementing number at each column 
            num = num + 1
      
        # ending line after each row 
        print("\r") 
        num1=num-1
  
# Driver code 
n = 4
numpat(n)

1
1 2
2 3 4
4 5 6 7

# 2. n=4. pattern stars

In [ ]:
# Function to demonstrate printing pattern 
def pypart(n): 
      
    # outer loop to handle number of rows 
    # n in this case 
    for i in range(0, n): 
      
        # inner loop to handle number of columns 
        # values changing acc. to outer loop 
        for j in range(0, i+1): 
          
            # printing stars 
            print("* ",end="") 
       
        # ending line after each row 
        print("\r") 
  
# Driver Code 
n = 4
pypart(n)

*
* *
* * *
* * * *

# 3.Enter number 5

In [ ]:
rows = 5
for i in range(rows, -1, -1):
    for j in range(i+1 , rows+1, 1):
        print(j, end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

# 4  Enter number 5

In [ ]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# 5 Enter number 4

In [ ]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [ ]:
rows = 4
for i in range(0, rows + 1, 1):
    for j in range(i + 1, rows + 1, 1):
        print(j, end=' ')
    print()
for k in range(0, rows-1, 1):
    for l in range(3-k, rows+1, 1):
        print(l, end=' ')
    print()

1 2 3 4
2 3 4
3 4
4

3 4
2 3 4
1 2 3 4

# 6 Find the length of a string without using len functions

In [ ]:
def findLength(string): 
  
    # Initialize count to zero 
    count = 0
  
    # Counting character in a string 
    for i in string: 
        count+= 1
    # Returning count 
    return count 
  
# Driver code 
string = input("enter the string")
print(findLength(string))

enter the stringhello
5

# 7 Find the no of words and characters in a string

In [ ]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:i am sumathi
Number of words in the string:
3
Number of characters in the string:
12

# 8 Find the no of occurrences of a word in a string

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
string1=input("enter the string")
print( word_count(string1))

enter the stringhe is a good boy . he likes me
{'he': 2, 'is': 1, 'a': 1, 'good': 1, 'boy': 1, '.': 1, 'likes': 1, 'me': 1}