<a href="https://colab.research.google.com/github/sumathiselvan79/CE7454_2019/blob/master/day2session1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program to find the largest number in a list.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:5
Enter element:6
Enter element:9
Enter element:2
Enter element:7
Largest element is: 9

#Python Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:3
Enter element:4
Enter element:1
Enter element:7
Enter element:2
The even list [4, 2]
The odd list [3, 1, 7]

#Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Enter number of elements:5
Enter element:6
Enter element:7
Enter element:8
Enter element:9
Enter element:10
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Python Program to sort the list according to the second element in the sublist.

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Python Program to find the second largest number in a list using bubble sort.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:2
Enter element:5
Enter element:3
Enter element:8
Enter element:9
Second largest number is: 8

#Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:3
Enter the upper range:6
[(3, 9), (4, 16), (5, 25), (6, 36)]

#Python Program to generate random numbers from 1 to 20 and append them to the list.

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [9, 3, 7, 17, 4]

# print multiples of 3 upto 200 using a list

In [ ]:
a=[]
j=1
while ((3*j)<200):
    a.append(3*j)
    j=j+1
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

# print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
begin 	= 1000 
end 	= 2000
a=[]
# loop to check and print the numbers
# which are divisible by 7 and not 
# divisible by 5
for cnt in range(begin, end+1):
	if( cnt%7==0 and cnt%5==0 ):
		a.append(cnt)
print(a)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

# Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
# Python Program to Sort List in Ascending Order

NumList = []

Number = int(input("Please enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    value = input(i)
    NumList.append(value)

NumList.sort()

print(NumList)
#Python Program to Sort List in reverse Order
print("In reverse order")
NumList.reverse()
print(NumList)

Please enter the Total Number of List Elements: 5
1a
2f
3s
4r
5d
['a', 'd', 'f', 'r', 's']
['s', 'r', 'f', 'd', 'a']

# Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
def squares(a, b):
    lists=[]
    # Traverse through all numbers
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i:
              if (j*j)%5==0:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(500, 1000))

[625, 900]

#Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

#Python program that assigns variables

In [ ]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

#Python program that searches tuples

In [ ]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

# Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res[0])

yonder

# Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.