<a href="https://colab.research.google.com/github/sumathiselvan79/CE7454_2019/blob/master/day3exerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Pandas program to create and display a one-dimensional array using series  containing  even numbers upto 10000
#tip : use List Comprehension
#ds = pd.Series([0,2, 4, 6, 8..... 10000])

In [ ]:
import pandas as pd
ds=pd.Series([i for i in range(10000)if i%2==0])
print(ds)

0          0
1          2
2          4
3          6
4          8
        ...
4995    9990
4996    9992
4997    9994
4998    9996
4999    9998
Length: 5000, dtype: int64

# Write a Pandas program to convert a Panda module Series of the numbers which are between 1000 and 2000 (both inclusive) and divisable by 5 to Python list and  after convertion print its type

In [ ]:
import pandas as pd
ds = pd.Series([i for i in range(1000,2000) if i%5==0])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0      1000
1      1005
2      1010
3      1015
4      1020
       ...
195    1975
196    1980
197    1985
198    1990
199    1995
Length: 200, dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[1000, 1005, 1010, 1015, 1020, 1025, 1030, 1035, 1040, 1045, 1050, 1055, 1060, 1065, 1070, 1075, 1080, 1085, 1090, 1095, 1100, 1105, 1110, 1115, 1120, 1125, 1130, 1135, 1140, 1145, 1150, 1155, 1160, 1165, 1170, 1175, 1180, 1185, 1190, 1195, 1200, 1205, 1210, 1215, 1220, 1225, 1230, 1235, 1240, 1245, 1250, 1255, 1260, 1265, 1270, 1275, 1280, 1285, 1290, 1295, 1300, 1305, 1310, 1315, 1320, 1325, 1330, 1335, 1340, 1345, 1350, 1355, 1360, 1365, 1370, 1375, 1380, 1385, 1390, 1395, 1400, 1405, 1410, 1415, 1420, 1425, 1430, 1435, 1440, 1445, 1450, 1455, 1460, 1465, 1470, 1475, 1480, 1485, 1490, 1495, 1500, 1505, 1510, 1515, 1520, 1525, 1530, 1535, 1540, 1545, 1550, 1555, 1560, 1565, 1570, 1575, 1580, 1585, 1590, 1595, 1600, 1605, 1610, 1615, 1620, 1625, 1630, 1635, 1640, 1645, 1650, 1655, 1660, 1665, 1670, 1675, 1680, 1685, 1690, 1695, 1700, 1705, 1710, 1715, 1720, 1725, 1730, 1735, 1740, 1745, 1750, 1755, 1760, 1765, 1770, 1775, 1780, 1785, 1790, 1795, 1800, 1805, 1810, 1815, 1820, 1825, 1830, 1835, 1840, 1845, 1850, 1855, 1860, 1865, 1870, 1875, 1880, 1885, 1890, 1895, 1900, 1905, 1910, 1915, 1920, 1925, 1930, 1935, 1940, 1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995]
<class 'list'>

# Write a Pandas program to add, subtract, multiple and divide two Pandas Series and print their results using the Sample Series: [2, 4, 6, 8, ...100], [1, 3, 5, 7, 9...99]

In [ ]:
import pandas as pd
ds1 = pd.Series([i for i in range(2,100) if i%2==0])
ds2 = pd.Series([i for i in range(1,100) if i%2!=0])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

# Write a Pandas program to compare (Equivalence, greater than, less than, not equal to )the elements of the two Pandas Series.
#Sample Series: [All positive numbers divisable by 7 upto 1000], [All positive numbers divisable by 11 upto 1000

In [ ]:
import pandas as pd
ds1 = pd.Series([i for i in range(1,635) if i%7==0])
ds2 = pd.Series([i for i in range(1,1000) if i%11==0])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0       7
1      14
2      21
3      28
4      35
     ...
85    602
86    609
87    616
88    623
89    630
Length: 90, dtype: int64
Series2:
0      11
1      22
2      33
3      44
4      55
     ...
85    946
86    957
87    968
88    979
89    990
Length: 90, dtype: int64
Compare the elements of the said Series:
Equals:
0     False
1     False
2     False
3     False
4     False
      ...
85    False
86    False
87    False
88    False
89    False
Length: 90, dtype: bool
Greater than:
0     False
1     False
2     False
3     False
4     False
      ...
85    False
86    False
87    False
88    False
89    False
Length: 90, dtype: bool
Less than:
0     True
1     True
2     True
3     True
4     True
      ...
85    True
86    True
87    True
88    True
89    True
Length: 90, dtype: bool

# Write a Pandas program to convert a NumPy array to a Pandas series. 
#Sample NumPy array: d1 = [10, 20, 30, 40, 50... 1000]

In [ ]:
import numpy as np
import pandas as pd
np_array = np.random(10,1000,10)
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

TypeError: ignored